section.benefits.section.section--bigger
  .container 
    h2.section__title.title.title--block
      | Безопасная, 
      span полезная
      | , безлимитная, удобная
    p.benefits__description.section__description.text
      | Пурифайер&nbsp;&mdash; это современная альтернатива кулеру, где проточная 
      | вода очищается при помощи встроенной системы фильтрации. Это наиболее выгодный 
      | и&nbsp;удобный способ получения чистой, полезной и&nbsp;безлимитной питьевой воды 
      | в&nbsp;любое время. Пролистайте дальше или посмотрите короткое видео&nbsp;&mdash; 
      | что это такое и&nbsp;как использовать.
    .section__image.cloud-frame(data-parallax-benefits)
      .cloud-frame__bg
        img.cloud-frame__bg-image(data-parallax-benefits-bg src="./images/bg-benefits.jpg", alt="Офис с пурифайером" decoding="async")
      img.cloud-frame__cloud(src="./images/cloud-frame.png", alt="Облака" decoding="async")
    .benefits__content
      +content([
        {
          name: 'Легко<br> использовать',
          description: [
            {
              text: `
                Пурифайеры экомастер полностью автоматические. Мы заботимся о вашем здоровье, 
                поэтому во всех пурифайерах установлена безопасная бесконтактная подача воды.
              `
            },{
              text: `
                Для подачи воды вам нужно всего лишь нажать на кнопку, сенсорную панель или повернуть шайбу.
              `
            }
          ],
          image: './images/benefits-01.jpg',
          alt: 'Пурифайер Экомастер WL-7 Top'
        },{
          name: 'Не забывайте<br> про <span>каплесборник</span>!',
          description: [
            {
              text: `
                Мы сохраняем силу природной воды, оставляя в ней магний, кальций, натрий и калий. 
                Это позволяет достигнуть натурального баланса солей и минералов.
              `
            },{
              text: `
                Высокая степень очистки воды по нашей технологии позволяет сохранить 
                в ней полезные элементы без использования консервантов.
              `
            },{
              text: `Обслуживание каплесборника:`
            },{
              list: [
                'Снимите каплесборник и вылейте из него воду.',
                'Установите каплесборник на место.'
              ]
            }
          ],
          video: [
            './video/drop.mp4',
            './video/drop.webm'
          ],
          image: './images/benefits-02.jpg',
          alt: 'Пурифайер Экомастер WL-7'
        }
      ])