section.plastic.section.section--bigger
  .container 
    h2.section__title.plastic__title.title.title--section
      | Не можете использовать повторно – 
      span откажитесь
    .plastic__content.section__row 
      .section__block
        .plastic__parallax(data-parallax-plastic)
          img.plastic__parallax-frame(loading="lazy" decoding="async" src="./images/cloud-frame-mini.png", alt="Облака")
          img.plastic__parallax-bg(data-parallax-plastic-bg loading="lazy" decoding="async" src="./images/plastic-parallax-bg.jpg", alt="Грязная вода")
          img.plastic__parallax-obj(data-parallax-plastic-obj loading="lazy" decoding="async" src="./images/plastic-parallax-obj.png", alt="Черепаха")
      .section__block.--info
        .section__block-title.title.title--block Многоразовые бутылки вместо пластиковых
        p.section__block-text.text
          | Мы&nbsp;изготавливаем бутылки из&nbsp;боросиликатного стекла, 
          | не&nbsp;вступает в&nbsp;химические реакции с&nbsp;жидкостью 
          | и&nbsp;не&nbsp;выделяет в&nbsp;неё вредные вещества.
        ul.section__block-list.list
          li.list__item.text Эко-решение
          li.list__item.text Герметичная крышка
          li.list__item.text Безопасно для здоровья
          li.list__item.text Устойчивость к температурным перепадам
          li.list__item.text Оптимальный объём 360 или 550 мл
          li.list__item.text Многократное использование
