section.plastic.section.section--bigger(data-parallax-plastic)
  .container 
    h2.section__title.plastic__title.title.title--section
      | Не можете использовать повторно – 
      span откажитесь
    .plastic__content.section__row 
      .section__block
        .plastic__parallax
          img.plastic__parallax-frame(data-parallax-plastic-frame loading="lazy" decoding="async" src="./images/cloud-frame-mini.png", alt="Облака")
          img.plastic__parallax-bg(data-parallax-plastic-bg loading="lazy" decoding="async" src="./images/plastic-parallax-bg.jpg", alt="Грязная вода")
          img.plastic__parallax-obj(data-parallax-plastic-obj loading="lazy" decoding="async" src="./images/plastic-parallax-obj.png", alt="Черепаха")
      .section__block.--info
        .section__block-title.title.title--block Выбирайте фильтры&nbsp;&mdash; откажитесь от&nbsp;пластика
        p.section__block-text.text
          | Загрязнение пластиком&nbsp;&mdash; это огромная проблема и&nbsp;бремя для нашей планеты, для
          | человека и&nbsp;его здоровья. Именно поэтому каждый шаг к&nbsp;меньшему использованию
          | пластика&nbsp;&mdash; это большой прогресс!
