.more {
  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    transform: translateY(100%);
    z-index: 1;
    &-cloud {
      width: 100vw;
    }
  }
  &__list {
    display: flex;
    margin-top: 50px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100% / 3);
  }
  &__picture {
    margin-bottom: 50px;
  }
  &__image {
    margin: 0 auto;
  }
  &__name {
    text-align: center;
  }
}