section.more.section.section--bigger
  .container 
    h2.section__title.title.title--section
      | Можем 
      span больше!
    p.more__description.section__description.text
      | Мы&nbsp;можем быть всегда рядом. Попробуйте другие продукты от&nbsp;Экодар.<br>
      | Откройте доступ к&nbsp;безопасной, полезной и&nbsp;безлимитной воде для 
      | вашего бизнеса, дома и&nbsp;офиса.
    ul.more__list 
      li.more__item 
        a.more__link(href="#0")
          .more__picture 
            img.more__image(src="./images/more-kvartiry.jpg", alt="")
          h4.more__name.title.title--item Бытовые фильтры для квартир
      li.more__item 
        a.more__link(href="#0")
          .more__picture 
            img.more__image(src="./images/more-horeca.jpg", alt="")
          h4.more__name.title.title--item Системы для хорека
      li.more__item 
        a.more__link(href="#0")
          .more__picture 
            img.more__image(src="./images/more-filter.jpg", alt="")
          h4.more__name.title.title--item Системы для коттеджей