.more {
  & .swiper-button-next,
  & .swiper-button-prev {
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__bg {
    position: absolute;
    min-width: 100vw;
    left: 50%;
    bottom: 1px;
    transform: translate(-50%, 100%);
    pointer-events: none;
    z-index: 1;
    &-cloud {
      width: 100%;
      max-width: unset;
    }
  }
  &__container {
    @media (max-width: 767px) {
      padding: 0;
    }
  }
  &__content {
    margin-top: 50px;
    @media (max-width: 767px) {
      padding: 0 30px;
    }
  }
  &__title,
  &__description {
    @media (max-width: 767px) {
      padding: 0 30px;
    }
  }
  &__description {
    max-width: 900px;
  }
  &__list {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    @media (max-width: 767px) {
      align-items: center;
      flex-direction: row;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__link {
    &:hover {
      & .link {
        background-size: 100% 1px;
      }
    }
  }
  &__picture {
    margin-bottom: 50px;
  }
  &__image {
    margin: 0 auto;
    @media (max-width: 767px) {
      max-width: calc(100% - 140px);
    }
  }
  &__name {
    text-align: center;
  }
}