section.planet.section(data-scroll-parallax-planet)
  img.planet__bg-cosmos(src="./images/bg-planet.jpg", alt="Космос")
  img.planet__bg-planet(data-scroll-parallax-planet-obj src="./images/planet.png", alt="Планета")
  img.planet__bg-cloud.--top(src="./images/cloud-planet-top.png", alt="Облако")
  img.planet__bg-cloud.--bottom(src="./images/cloud-planet-bottom.png", alt="Облако")
  .container 
    .planet__container
      .planet__content 
        h3.planet__title.title.title--block Спасибо, что сохраняете планету!
        p.planet__text.text 
          | Выбирая оборудование стандарта GoGreen от&nbsp;Экодара&nbsp;&mdash; 
          | Вы&nbsp;выбираете здоровое будущее для себя и&nbsp;своих детей!

