section.hero.section
  .hero__content
    include ../header/header
    .hero__container.container
      .hero__info
        h1.hero__title.title Спасибо, что пользуетесь пурифайером от компании Экодар!
        a.hero__button.button(href="#0") Заказать звонок
  img.hero__mountains.--first(data-scroll-parallax-hero-1, src="./images/bg-hero-layer-1.png", alt="Горы")
  img.hero__mountains(data-scroll-parallax-hero-2, src="./images/bg-hero-layer-2.png", alt="Горы")
  img.hero__wl(data-scroll-parallax-hero-3, src="./images/bg-hero-wl.png", alt="Ecomaster WL-7")
  img.hero__cloud-mini.--first(data-scroll-parallax-hero-4, src="./images/bg-hero-cloud-1.png", alt="Облако")
  img.hero__cloud-mini(data-scroll-parallax-hero-5, src="./images/bg-hero-cloud-2.png", alt="Облако")
  img.hero__cloud(src="./images/bg-hero-cloud.png", alt="Облако")
