section.hero.section
  .hero__content
    img.hero__cloud-wide.--first(loading="lazy" decoding="async" src="./images/bg-hero-cloud.png", alt="Облако")
    img.hero__cloud-wide(loading="lazy" decoding="async" src="./images/bg-hero-cloud.png", alt="Облако")
    //- include ../header/header
    .hero__container.container
      .hero__info
        h1.hero__title.title Спасибо, что пользуетесь пурифайером от компании Экодар!
        a.hero__button.button(href="#call" data-modal) Заказать звонок
  img.hero__mountains.--first(data-scroll-parallax-hero-1, src="./images/bg-hero-layer-1.png", alt="Горы" loading="lazy" decoding="async")
  img.hero__mountains(data-scroll-parallax-hero-2, src="./images/bg-hero-layer-2.png", alt="Горы" loading="lazy" decoding="async")
  img.hero__wl(data-scroll-parallax-hero-3, src="./images/bg-hero-wl.png", alt="Ecomaster WL-7" loading="lazy" decoding="async")
  img.hero__cloud(loading="lazy" decoding="async" src="./images/bg-hero-cloud.png", alt="Облако")
  