section.hero.section
  .hero__content
    include ../header/header
    .hero__container.container
      .hero__info
        h1.hero__title.title Спасибо, что пользуетесь пурифайером от компании Экодар!
        a.hero__button.button(href="#0") Заказать звонок 
      .hero__picture
        img.hero__image(src="./images/wl-7.png", alt="WL-7")
  img.hero__cloud(src="./images/cloud-hero.png", alt="Облако")
