.content {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1279px) {
      flex-direction: column !important;
      align-items: flex-start;
    }
    @media (max-width: 768px) {
      justify-content: center;
    }
    @media (max-width: 600px) {
      display: block;
    }
    &:nth-of-type(even) {
      flex-direction: row-reverse;
      & .content__info {
        padding-left: 35px;
        padding-right: 0;
        @media (max-width: 1279px) {
          padding-left: 0;
        }
      }
      & .content__image {
        margin-left: 0;
        margin-right: auto;
      }
    }
    &:last-child {
      padding-bottom: 70px;
      @media (max-width: 600px) {
        padding-bottom: 0;
      }
    }
    & + & {
      margin-top: 120px;
      @media (max-width: 600px) {
        margin-top: 70px;
      }
    }
  }
  &__info {
    width: 50%;
    padding-right: 35px;
    &-triangle {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      fill: var(--bg-black);
      z-index: 3;
      @media (max-width: 600px) {
        display: block;
      }
    }
    @media (max-width: 1279px) {
      width: unset;
      max-width: 600px;
      margin: 0 auto 40px;
      padding-right: 0;
      text-align: center;
    }
    @media (max-width: 600px) {
      position: relative;
      margin: 0;
      padding: 40px 50px 15px !important;
      color: var(--white);
      background-color: var(--bg-black);
    }
    @media (max-width: 480px) {
      padding: 40px 30px 15px !important;
    }
    & .list__item:before {
      @media (max-width: 600px) {
        background-color: var(--white);
      }
    }
  }
  &__picture {
    @media (max-width: 600px) {
      height: 325px;
    }
  }
  &__name {
    margin-bottom: 35px;
    @media (max-width: 600px) {
      margin-bottom: 15px;
      font-size: 30px;
    }
  }
  &__description {
    max-width: 560px;
    & + & {
      margin-top: 20px;
      @media (max-width: 600px) {
        margin-top: 10px;
      }
    }
  }
  &__list {
    margin-top: 5px;
    @media (max-width: 1279px) {
      text-align: left;
    }
    @media (max-width: 768px) {
      width: calc(100% - 30px);
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__picture {
    position: relative;
    width: 640px;
    max-width: 100%;
    max-height: 420px;
    @media (max-width: 1279px) {
      margin: 0 auto;
    }
    @media (max-width: 600px) {
      width: unset;
      max-height: unset;
    }
    &:after {
      content: '';
      position: absolute;
      width: 93%;
      height: 24px;
      left: 50%;
      bottom: 0;
      background-color: var(--black);
      transform: translate(-50%, 50%);
      filter: blur(25px);
      z-index: 1;
      @media (max-width: 600px) {
        display: none;
      }
    }
  }
  &__image {
    position: relative;
    z-index: 2;
    &.mobile {
      @media (max-width: 600px) {
        width: 100vw;
        max-width: unset;
      }
    }
    @media (max-width: 600px) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}