section.ecology.section.section--bigger
  .ecology__bg
    .ecology__bg-container
      img.ecology__bg-image(loading="lazy" decoding="async" src="./images/bg-ecology.jpg", alt="Горы с озером")
      img.ecology__bg-cloud(loading="lazy" decoding="async" src="./images/cloud-ecology-bottom.png", alt="Облако")
  .ecology__container.container 
    h2.section__title.title.title--section
      span Экологические 
      | решения:
    .ecology__content
      ul.ecology__list 
        li.ecology__item 
          h4.ecology__item-name.title.title--item Экологически безвредные компрессоры
          .ecology__item-picture
            .ecology__item-composition
              img.ecology__item-image(loading="lazy" decoding="async" src="./images/ecology-01.png", alt="R600a gas")
              img.ecology__item-add(loading="lazy" decoding="async" src="./images/ecology-01-add.png", alt="Zero Impacto Ambiental")
          p.ecology__item-text.text.text--mini
            | фреон R600a является природным газом, поэтому он&nbsp;не&nbsp;разрушает 
            | озоновый слой (ODP = 0) и&nbsp;не&nbsp;способствует появлению парникового 
            | эффекта (GWP = 0,001), а&nbsp;кроме того, имеет высокий холодильный 
            | коэффициент, что уменьшает энергопотребление.
        li.ecology__item.--blue
          h4.ecology__item-name.title.title--item Полное соответствие директиве RoHS
          .ecology__item-picture
            img.ecology__item-image(loading="lazy" decoding="async" src="./images/ecology-02.png", alt="Сертификат RoHS")
          p.ecology__item-text.text.text--mini
            | ограничение использования в&nbsp;производстве опасных веществ 
            | и&nbsp;Директиве WEEE&nbsp;&mdash; переработка электронных компонентов.
        li.ecology__item 
          h4.ecology__item-name.title.title--item &laquo;Углеродный след&raquo; от&nbsp;воды из&nbsp;Автомата Ecomaster
          .ecology__item-picture
            img.ecology__item-image(loading="lazy" decoding="async" src="./images/ecology-03.png", alt="Углерод CO2")
          p.ecology__item-text.text.text--mini
            | то&nbsp;количество парниковых газов, которое выделяется в&nbsp;атмосферу 
            | при получении этой воды&nbsp;&mdash; гораздо меньше, чем от&nbsp;привозной 
            | бутилированной воды.
      .ecology__card
        img.ecology__card-icon(loading="lazy" decoding="async" src="./images/go-green.svg", alt="Go Green")
        .ecology__card-info 
          h5.ecology__card-name.title.title--item
            | Снижение выбросов выхлопных газов
            | и&nbsp;уменьшение транспорта на&nbsp;дорогах
          p.ecology__card-text.text.text--mini
            | поскольку отпадает необходимость в&nbsp;доставке бутылей.
      ul.ecology__list
        li.ecology__item 
          h4.ecology__item-name.title.title--item Утилизация материалов
          .ecology__item-picture
            img.ecology__item-image(loading="lazy" decoding="async" src="./images/ecology-04.png", alt="Утилизация материалов")
          p.ecology__item-text.text.text--mini
            | все Автоматы Ecomaster на&nbsp;80% состоят из&nbsp;деталей и&nbsp;компонентов, 
            | подлежащих экологически безопасной утилизации.
        li.ecology__item.--green
          h4.ecology__item-name.title.title--item Энергосбережение
          .ecology__item-picture
            img.ecology__item-image(loading="lazy" decoding="async" src="./images/ecology-05.png", alt="Энергосбережение")
          p.ecology__item-text.text.text--mini
            | все модели оснащены функцией спящего режима.
        li.ecology__item 
          h4.ecology__item-name.title.title--item Защита от&nbsp;протечек
          .ecology__item-picture
            img.ecology__item-image(loading="lazy" decoding="async" src="./images/ecology-06.png", alt="Защита от протечек")
          p.ecology__item-text.text.text--mini
            | предотвращает неоправданный расход воды.
