.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: rgba(61, 61, 61, .35);
  transition: var(--transition);
  pointer-events: none;
  z-index: 999;
  &.--active {
    opacity: 1;
    pointer-events: unset;
    & .modal__content {
      transform: none;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    padding: 0;
  }
  &__content {
    position: relative;
    padding: 95px 180px;
    background-color: var(--white);
    transition: var(--transition);
    transform: scale3d(.8, .8, .8);
    will-change: transform;
    @media (max-width: 750px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      min-height: 100vh;
      padding: 50px;
    }
  }
  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 15px;
    height: 15px;
    transition: var(--transition);
    cursor: pointer;
    &:hover {
      transform: rotate3d(0, 0, 1, 90deg);
    }
    &-icon {
      fill: var(--close);
      
    }
  }
  &__form {
    width: 300px;
    & .form {
      &__button {
        width: 100%;
      }
    }
  }
}