.firewall {
  position: relative;
  min-height: 100vh;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 780px;
    z-index: 1;
    @media (max-width: 768px) {
      height: 440px;
    }
    &-container {
      position: relative;
      height: inherit;
    }
    &-title {
      position: absolute;
      top: 290px;
      left: 50%;
      width: 100%;
      color: var(--white);
      text-align: center;
      transform: translateX(-50%);
      z-index: 1;
      @media (max-width: 942px) {
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-cloud {
      position: absolute;
      left: 50%;
      width: 100vw;
      max-width: unset;
      transform: translateX(-50%);
      &.--top {
        top: 0;
      }
      &.--bottom {
        bottom: 0;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
  &__container {
    position: relative;
    padding-top: 530px;
    z-index: 2;
    @media (max-width: 768px) {
      padding-top: 490px;
    }
  }
  
  &__info {
    max-width: 1200px;
    margin-left: auto;
    padding: 100px 25px 100px 100px;
    background-color: var(--white);
    @media (max-width: 1279px) {
      padding: 50px 25px;
    }
    @media (max-width: 768px) {
      padding: 0;
    }
  }
  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      margin-bottom: 0;
    }
    &-icon {
      width: 170px;
      margin-right: 50px;
      @media (max-width: 1279px) {
        width: 130px;
        margin-right: 35px;
      }
    }
    &-title {
      margin-bottom: 40px;
    }
  }
  &__description {
    & + & {
      margin-top: 0.65em;
    }
  }
  &__scheme {
    margin: 0 auto;
    @media (max-width: 768px) {
      margin-top: 50px;
    }
  }
  &__list {
    margin-top: 100px;
    @media (max-width: 768px) {
      margin-top: 70px;
    }
  }
}