header.header
  .header__container.container
    .header__block
      +logo
    .header__block
      .header__links 
        a.header__phone.link(href="tel:+74952325262") +7 (495) 232 52 62
        a.header__button.button(href="#call" data-modal) Заказать звонок 
    