@font-face {
  font-family: "AngleciaPro";
  src: url("./fonts/Angleciaprodisplayregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AngleciaProItalic";
  src: url("./fonts/Angleciaprodisplayitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
