:root {
  --white: #fff;
  --black: #000;
  --green: #74be2a;

  --text-color-main: #333;
  --text-color-blue: #1ba4d9;

  --border-aqua-light: #e4f4fb;
  --border-gray: #eee;

  --bg-green: #43ac35;
  --bg-blue: #203e64;
  --bg-footer: #e0f3fc;
  --bg-gray: #f1f1f1;
  --bg-gray2: #fafafa;
  --bg-gray3: #ebebec;
  --bg-gray-light: #e4f4fb;
  --bg-button-blue: #1da8db;

  --transition: .25s;
  --transition-parallax: .1s;

  --shadow-black: 0px 10px 40px 0px rgb(51 51 51 / 30%);
  --shadow-blue: 0px 10px 40px 0px rgb(32 62 100 / 70%);
  --shadow-green: 0px 10px 40px 0px rgb(67 172 53 / 50%);
}

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
  &:focus {
    outline: none;
  }
}

body {
  position: relative;
  margin: 0;
  color: var(--text-color-main);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

img,
video,
iframe {
  max-width: 100%;
}

svg,
img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
}

textarea {
  resize: none;
}

button {
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
}

.none {
  display: none;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.section {
  position: relative;
  margin: 90px 0;
  @media (max-width: 768px) {
    margin: 70px 0;
  }
  &--bigger {
    margin-top: 130px;
  }
  &--smaller {
    margin-top: 60px;
  }
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 110px;
  }
  &__title,
  &__description {
    text-align: center;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__description {
    margin: 0 auto;
  }
  &__image {
    margin-top: 70px;
    @media (max-width: 768px) {
      margin-top: 40px;
    }
  }
  &__row {
    display: flex;
    align-items: center;
  }
  &__block {
    flex: 1;
    &.--info {
      &:first-child {
        margin-right: 60px;
      }
      &:last-child {
        margin-left: 60px;
      }
    }
    &-title {
      margin-bottom: 45px;
    }
    &-text {
      & + & {
        margin-top: 20px;
      }
    }
    &-list {
      margin-top: 20px;
    }
  }
}

.button {
  position: relative;
  padding: 20px 50px;
  color: var(--white);
  font-family: 'Ubuntu', sans-serif;
  border-radius: 6px;
  background-image: linear-gradient(0deg, #1aa1d7 0%, #24addd 100%);
  box-shadow: 0px 12px 24px 0px rgba(44, 125, 206, 0.32);
  transition: var(--transition);
  &:hover {
    box-shadow: 0px 6px 12px 0px rgba(44, 125, 206, 0.32);
  }
  &:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 2px 0px rgba(44, 125, 206, 0.32);
  }
}

.desktop {
  @media (max-width: 768px) {
    display: none;
  }
}

.mobile {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
