.title {
  font-size: 60px;
  font-weight: 400;
  font-family: 'AngleciaPro', serif;
  line-height: 1.2;
  @media (max-width: 1279px) {
    font-size: 42px;
  }
  &--section {
    font-size: 70px;
    @media (max-width: 1279px) {
      font-size: 40px;
    }
    @media (max-width: 600px) {
      font-size: 38px;
    }
  }
  &--block {
    font-size: 50px;
    @media (max-width: 1279px) {
      font-size: 40px;
    }
    @media (max-width: 600px) {
      font-size: 38px;
    }
  }
  &--element {
    font-size: 36px;
  }
  &--item {
    font-size: 24px;
  }
  & span {
    color: var(--text-color-blue);
  }
}

.text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  &--mini {
    font-size: 16px;
  }
}

.list {
  &__item {
    position: relative;
    padding-left: 19px;
    &:before {
      content: '';
      position: absolute;
      top: 14px;
      left: 0;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: var(--green);
    }
    & + & {
      margin-top: 0.27em;
    }
  }
}
