.cloud-frame {
  position: relative;
  overflow: hidden;
  &__cloud {
    position: relative;
    width: calc(100% + 1px);
    max-width: unset;
    z-index: 3;
    @media (max-width: 900px) {
      display: none;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    @media (max-width: 900px) {
      display: none;
    }
    &-image {
      position: absolute;
      max-width: unset;
      left: 50%;
      bottom: 0;
      transform: translate3d(-50%, 0, 1px);
      z-index: 1;
      @media (max-width: 1279px) {
        top: 50%;
        bottom: unset;
        transform: translate3d(-50%, -50%, 1px);
      }
    }
  }
  &__water {
    position: absolute;
    top: 53%;
    left: 50%;
    max-width: unset;
    transform: translate3d(-50%, -50%, 1px);
    z-index: 2;
  }
  &__mobile {
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 901px) {
      display: none;
    }
  }
}