section.stats.section.section--bigger
  .container
    .section__row
      .section__block.--info
        .stats__info
          .stats__video
            video(autoplay loop muted preload="auto") 
              source(src="./video/water.mov")
              | Элемент video не поддерживается вашим браузером.
          .stats__item
            .stats__item-content
              .stats__item-first
                .stats__item-name Наши автоматы используют
                .stats__item-value 40 500 864
                .stats__item-count человек
              .stats__item-second
                .stats__item-name Наши автоматы используют
                .stats__item-value 40 500 864
                .stats__item-count человек
          .stats__divine
            .stats__divine-line
          .stats__item
            .stats__item-content
              .stats__item-first
                .stats__item-name Наши клиенты отказались от
                .stats__item-value 40 500 864
                .stats__item-count бутылок
              .stats__item-second
                .stats__item-name Наши клиенты отказались от
                .stats__item-value 40 500 864
                .stats__item-count бутылок
      .section__block
        .stats__parallax(data-parallax-stats)
          img.stats__parallax-frame(src="./images/cloud-frame-mini.png", alt="Облака")
          img.stats__parallax-bg(data-parallax-stats-bg src="./images/stats-parallax-bg.jpg", alt="Улучшение экологии")
          img.stats__parallax-obj.--first(data-parallax-stats-first src="./images/stats-parallax-obj-01.png", alt="Оградительная лента")
          img.stats__parallax-obj.--second(data-parallax-stats-second src="./images/stats-parallax-obj-02.png", alt="Оградительная лента")
