section.service.section.section--smaller(data-parallax-service)
  .container 
    h2.section__title.title.title--section
      | Высокоскоростной 
      span сервис
    p.service__description.section__description.text
      | Для того чтобы быть уверенным в&nbsp;качестве питьевой воды 
      | необходимо своевременно проводить сервисное обслуживание 
      | автомата. Для проведения сервисного обслуживания 
      | обращайтесь к&nbsp;официальному представителю в&nbsp;Вашем регионе.
    img.service__mobile-image(src="./images/service-mobile-bg.jpg", alt="Москва сити")
    .section__image.cloud-frame
      .cloud-frame__bg
        img.cloud-frame__bg-image(data-parallax-service-bg src="./images/bg-service.jpg", alt="Москва сити")
      img.cloud-frame__cloud(data-parallax-service-frame decoding="async" src="./images/cloud-frame.png", alt="Облака")
    ul.service__row
      li.service__block
        .service__picture.desktop
          img.service__image(data-parallax-service-app decoding="async" src="./images/service-app-01.png", alt="Приложение Ekodar")
          img.service__image.--after(data-parallax-service-app-after decoding="async" src="./images/service-app-02.png", alt="Приложение Ekodar")
        .service__picture.mobile
          img.service__image(data-mobile-scroll-show="0.5" decoding="async" src="./images/service-mobile-app.png", alt="Приложение Ekodar")
        h4.service__name.title.title--block
          | Скачайте<br>
          span приложение
        p.service__description.text 
          | Получайте оперативную сервисную и&nbsp;техническую поддержку, 
          | будьте в&nbsp;курсе акций и&nbsp;спецпредложений, управляйте 
          | автоматикой с&nbsp;телефона!
        ul.service__apps 
          li.service__app
            a.service__app-link(target="_blank" href="https://play.google.com/store/apps/details?id=ru.citllc.ekodar&hl=ru&gl=US")
              img.service__app-icon(loading="lazy" decoding="async" src="./images/googleplay.svg")
          li.service__app
            a.service__app-link(target="_blank" href="https://apps.apple.com/ru/app/%D1%8D%D0%BA%D0%BE%D0%B4%D0%B0%D1%80-%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D1%8B-%D0%BE%D1%87%D0%B8%D1%81%D1%82%D0%BA%D0%B8-%D0%B2%D0%BE%D0%B4%D1%8B/id1586452612")
              img.service__app-icon(loading="lazy" decoding="async" src="./images/appstore.svg")
          li.service__app
            a.service__app-link(target="_blank" href="https://appgallery.huawei.com/#/app/C104721113")
              img.service__app-icon(loading="lazy" decoding="async" src="./images/appgalery.svg")
      li.service__block.--car
        .service__picture
          img.service__image(data-parallax-service-car data-mobile-scroll-show="0.5" decoding="async" src="./images/service-car.png", alt="Машина Ekodar")
        h4.service__name.title.title--block
          | Сервисный центр Экодар сегодня:
        ul.service__description.list
          li.list__item.text 80&nbsp;штатных сотрудников и&nbsp;собственный парк автомобилей
          li.list__item.text Официальная аккредитация Clack Corporation и&nbsp;Waterlogic
          li.list__item.text Максимальная оперативность в&nbsp;любых ситуациях
          li.list__item.text Обслуживание оборудования по&nbsp;методикам производителя
          li.list__item.text Постоянный контроль качества воды в&nbsp;аккредитованной лаборатории

