doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./index.scss")
    title Экодар — Системы очистки воды из скважин, пурифайеры, кулеры и фильтры для кухни в Москве

    include ./components/mixins
  body
    .wrapper
      include ./sections/hero/hero
      include ./sections/minerals/minerals
      include ./sections/firewall/firewall
      include ./sections/scheme/scheme
      include ./sections/benefits/benefits
      include ./sections/plastic/plastic
      include ./sections/planet/planet
      include ./sections/stats/stats
      include ./sections/ecology/ecology
      include ./sections/service/service
      include ./sections/more/more
      include ./sections/footer/footer
      
      include ./components/scroll-arrow/scroll-arrow
      include ./components/modal-call/modal-call

    script(src="./mask.js")
    script(src="./swiper.js")
    script(src="./index.js")