.link {
  display: inline;
  line-height: 1.3;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: var(--transition);
  &:hover {
    background-size: 100% 1px;
  }
  &--active {
    background-size: 100% 1px;
    &:hover {
      background-size: 0 1px;
    }
  }
}